body {
  background-color: white !important;
}

.create-header {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0.5em 0;
  color: #333;
  font-weight: 700;
}
.create-div {
  padding: 1.5em;
}
